@media screen and (min-width:0px) and (max-width:600px) {
    #products .sorting {
        margin-bottom: 15px;
        float: none !important;
        text-align: center;
    }
    .desktopad {
        display: none!important
    }
    #mobiletable,
    .mobilead {
        display: block!important
    }
    .index-box {
        width: auto!important
    }
    .article-blurb {
        height: auto!important;
        float: left!important;
        width: 100%!important
    }
    #article-index .index-box.floatleft a img {
        margin-left: auto!important
    }
    #product-review .item-box {
        padding-bottom: 0;
        margin-bottom: 20px
    }
    #featured-content {
        display: none!important
    }
    .mobiletable {
        width: 490px
    }
    .table.mobiletable td {
        border-top: 1px solid #eceeef;
        padding-bottom: 5px
    }
    #product-overview-mobile {
        background-color: #f0efda;
        display: block!important;
        padding-bottom: 10px;
        margin-bottom: 6px
    }
}


@media screen and (max-width:601px) {
    .mobileresend {
        text-align: right
    }
    #desktophotdeals,
    #desktoptable,
    #star-desktop,
    #user-review-desktop {
        display: none!important
    }
    #mobilehotdeals,
    #star-mobile {
        display: block!important
    }
}

@media screen and (min-width:601px) {
    #desktophotdeals,
    #star-desktop,
    .desktopad {
        display: block!important
    }
    #mobiletable {
        display: none!important
    }
    #mobilehotdeals,
    #star-mobile {
        display: none!important
    }
    #product-review .item-box {
        padding-bottom: 0;
        margin-bottom: 20px
    }
    .product-overview {
        background-color: #f0efda;
        padding: 10px;
        margin: 15px 0
    }
    .product-share {
        text-align: center;
        margin: 0 auto 8px
    }
    .product-share div {
        float: left;
        padding: 4px 10px 0;
        height: 26px
    }
    .product-share div a {
        color: #2961a4;
        font-weight: 700
    }
    .product-share .pp {
        margin-left: 30px
    }
    .product-share .cc {
        padding-top: 8px;
        height: 22px
    }
    .product-share .sbg {
        background-color: #e6e9ec;
        border-right: 1px solid #d6d9dc;
        border-left: 1px solid #fff;
        text-align: center
    }
    .product-share .f {
        -moz-border-radius: 5px 0 0 5px;
        -webkit-border-radius: 5px 0 0 5px;
        border-left: none
    }
    .product-share .l {
        -moz-border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        border-right: none
    }
    .product-overview table {
        margin: 0 auto
    }
    .product-ratings {
        padding: 0;
        position: relative
    }
    .product-ratings p {
        line-height: 1.5em
    }
    .product-ratings table {
        width: 195px
    }
    .product-ratings .top-rate {
        padding-left: 10px
    }
    .product-ratings td {
        text-align: center;
        font-size: 14px;
        line-height: 2em;
        padding: 0 5px;
        font-weight: 700;
        font-family: helvetica
    }
    .product-ratings td.s {
        font-size: 11px;
        line-height: 1.5em
    }
    .product-score-outer {
        border-left: none!important;
        padding-left: 8px
    }
    .product-score-box {
        width: 134px;
        padding: 9px 10px;
        background-color: #096f00;
        color: #fff;
        border-radius: 10px;
        -moz-border-raidus: 10px;
        -webkit-border-radius: 10px
    }
    #product-rating-detail table,
    #product-rating-detail-inner {
        width: 200px;
        background-color: #fff
    }
    .product-score-box a {
        color: #fff
    }
    .product-score-inner {
        background-color: #fff;
        color: #27604d;
        padding: 10px 0
    }
    .green {
        color: #0e7206
    }
    #product-rating-detail {
        display: none;
        position: absolute;
        z-index: 1;
        top: 14px;
        left: 200px;
        width: 250px
    }
    #product-rating-detail-inner {
        padding: 7px;
        -moz-box-shadow: 0 0 6px #000;
        -webkit-box-shadow: 0 0 6px #000;
        box-shadow: 0 0 6px #000;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        z-index: 0
    }
    #product-rating-detail table td {
        padding: 9px 6px;
        background-color: #f6f5e9;
        font-size: 13px;
        text-align: left;
        line-height: 1.2em
    }
    #product-rating-detail table td.dr {
        background-color: #f0efda;
        font-size: 11px;
        width: 56px
    }
    #product-rating-detail table td p.r {
        font-size: 22px;
        font-weight: 700;
        line-height: 1em
    }
    #product-rating-detail table td span.green {
        font-size: 18px;
        font-weight: 700;
        line-height: 1em
    }
    .image-thumb-list li {
        display: inline;
        float: left;
        height: 50px
    }
    .image-thumb-list li.left-arrow a {
        display: inline-block;
        width: 12px;
        height: 44px;
        background: url(images/thumb-left-arrow.png) top left no-repeat;
        margin: 5px 5px 0 3px
    }
    .image-thumb-list li.right-arrow a {
        display: inline-block;
        width: 12px;
        height: 44px;
        background: url(images/thumb-right-arrow.png) top left no-repeat;
        margin: 5px 0 0 5px
    }
    #thumb-img-0 {
       /* -moz-box-shadow: 0 0 4px #444;
        -webkit-box-shadow: 0 0 4px #444;
        box-shadow: 0 0 4px #444 */
    }
    .image-thumb-list li.thumbs {
        overflow: hidden;
        height: 50px;
        margin-top: 3px
    }
    .image-thumbs {
        position: relative
    }
    .image-thumbs div {
        display: inline
    }
    #header,
    #product-overview-desktop,
    #reviewAppOO7-header {
        display: block!important
    }
    .image-thumbs div img {
        border: 1px solid #ccc;
        margin-top: 3px
    }
    .product-overview-inner {
        padding: 8px 0 0 3px
    }
}

@media screen and (max-width:700px) {
    #product-review .item-box {
        padding-bottom: 0;
        margin-bottom: 20px
    }
    .col-sm-3,
    .col-sm-9 {
        padding-right: 0!important;
        padding-left: 0!important
    }
    .search-page-box {
        width: auto!important
    }
    #container,
    .course-search,
    .hotdeal-one .hot-deals-module td,
    .statemap {
        width: 100%!important
    }
    .row {
        display: none!important
    }
}

.table>tbody>tr>td {
    vertical-align: middle;
    text-align: left
}

.table td {
    border-top: none
}

#scoredetails {
    display: none
}

@media only screen and (max-width:600px) {
    #product-review .item-box {
        padding-bottom: 0;
        margin-bottom: 20px
    }
    #___plusone_0,
    .leftscore,
    .scoredetails {
        width: 100%!important
    }
    .scoreleft {
        width: 93%!important;
        margin-right: 0!important
    }
    .scoredetailsinnerleft2 {
        font-size: 11px!important;
        margin-bottom: 10px!important
    }
    .add-partners-mobile {
        display: block
    }
}

/* IPAD MEDIA QUERY PORTRAIT ORIENTATION*/

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

#mobiletable .ipad{width:50% !important;}

#mobiletable .mobilecatheader td {width:50% !important;    text-align: center !important;}

#mobiletable .ipad td {width:100% !important;text-align: unset !important;}

#mobiletable #popularProducts{width:50% !important;float:left;}

#mobiletable #latestReviews{width:50% !important;}

.hot-deals-module-v2 #mobiletable{ width:50% !important;}

#lazy-loading-slider{ display: none !important; }

.onlymobile {
    display: block;
}

.add-partners-mobile {
        display: block
    }

	#desktophotdeals,
    #desktoptable,
    #star-desktop {
        display: none!important
    }
    #mobilehotdeals,
    #star-mobile {
        display: block!important
    }

	.desktopad {
        display: none!important
    }
    #mobiletable,
    #user-review-mobile,
    .mobilead {
        display: block!important
    }
.mobilead {
        display: block!important
    }

}
